<div class="container text-center">
    <div class="row">
        <label for="filerusernam" class="col-12 col-md-12 col-form-label"><u><strong> GITHUB USERNAME</strong></u></label>
        <form class="form-inline mb-4 text-center active-cyan-3 active-cyan-4">
            <div class="col-12">
                <input type="text" class=" form-control form-control-sm ml-2 w-100" rows="4" placeholder="Input Username" name="searchDetail" [(ngModel)]="searchDetail">
            </div>
            <br><br>
            <div class="col-12">
                <button type="submit" class="btn btn-md btn-primary" (click)="search()" name="button"><i class="fas fa-search"></i>Search </button>
            </div>
        </form>
    </div>
</div>